@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body styles for light and dark modes */
body {
  @apply bg-white text-black; /* Light mode styles */
}

body.dark {
  @apply bg-gray-900 text-white; /* Dark mode styles */
}

/* Other styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
